
$font-clamp-xsm: clamp(.98rem, 1.25vw, 1.025rem);
$font-clamp-sm: clamp(1rem, 2vw, 1.125rem);
$font-clamp-md: clamp(1.125rem, 2.25vw, 1.25rem);
$font-clamp-lg: clamp(1.5rem, 4vw, 2rem);
$font-clamp-xlg: clamp(2rem, 5vw, 2.25rem);

$font-brand: 'Prompt', sans-serif;
$font-content: 'Content', sans-serif;

@font-face {
    font-family: "Prompt";
    src: url('../fonts/prompt-light-webfont.woff2') format('woff2'),
            url('../fonts/prompt-light-webfont.woff') format('woff') ;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: "Prompt";
    src: url('../fonts/prompt-regular-webfont.woff2') format('woff2'),
            url('../fonts/prompt-regular-webfont.woff') format('woff') ;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Prompt";
    src: url('../fonts/prompt-medium-webfont.woff2') format('woff2'),
            url('../fonts/prompt-medium-webfont.woff') format('woff') ;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: "Prompt";
    src: url('../fonts/prompt-semibold-webfont.woff2') format('woff2'),
            url('../fonts/prompt-semibold-webfont.woff') format('woff') ;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "Prompt";
    src: url('../fonts/prompt-bold-webfont.woff2') format('woff2'),
            url('../fonts/prompt-bold-webfont.woff') format('woff') ;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Content";
    src: url('../fonts/Inter-Regular.woff2') format('woff2') ;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

