@use './variables';


// DARK MODE
@mixin dark {
    @media(prefers-color-scheme: dark) {
        @content
    }
}

// BREAK POINTS
$screen-xsm-max: 390px;
$screen-sm-min: 500px;
$screen-md-min: 768px;
$screen-lg-min: 820px;
$screen-xlg-min: 1024px;
// EXTRA SMALL DEVICES 
@mixin xsm {
    @media (max-width: #{$screen-xsm-max}) {
        @content;
    }
}
//SMALL DEVICES 
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

//MEDIUM DEVICES 
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

//LARGE DEVICES 
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

//EXTRA LARGE DEVICES 
@mixin xlg {
    @media (min-width: #{$screen-xlg-min}) {
        @content;
    }
}

//FLEXBOX
@mixin flex($justify, $align: center, $direction: row, $wrap: wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

//CSS GRID
@mixin grid($columns, $gap: 0px) {
    display: grid;
    grid-gap: $gap;
    grid-template-columns: repeat($columns, 1fr);
    @content
}




