@use '../abstracts';

    // ABOUT SECTION
    .about {
        position: relative;
        @include abstracts.lg {
            // padding: 10vh 0;
        }
        // DESKTOP GRID LAYOUT
        // 2 COLUMNS = ARTICLE + MISSION STATEMENT CARD
        

        // DARK-THEME 
        @include abstracts.dark {
            background-color: #000;
            color: #f4f4f4;
        }

    }
    
    // ABOUT ARTICLE
    .about-article {
        margin-top: 5vh;
        
        p {
            font-family: abstracts.$font-content;
            position: relative;
            isolation: isolate;
            overflow: hidden;

            &::first-letter {
                font-size: 2rem;
                padding: 0 .25rem 0 .25rem;
                background: #000;
                color: #fff;
                float: left;
                margin-right: 0.25rem;
                border-radius: .25rem;
                box-shadow: 2px 3px 3px hsla(211, 16%, 34%, 0.150);
                text-shadow: 2px 2px 0px #f8650c;
            }

        }

    }

