@use '../abstracts';

// SERVICES SECTION
.services {
    background: #f4f4f4;
    padding: 10vh 5vw;

    @include abstracts.md {
        padding: 10vw 10vw;
    }

    @include abstracts.dark {
        background: #000;
        color: #f4f4f4;
        P {
            color: #ddd;
        }
    }

    ul {
        list-style: none;
        display: grid;
        gap: 1rem;

        li {
            text-transform: capitalize;
            transition: 125ms;

            &:hover {
                color: abstracts.$brand;
                transform: translateX(0.5rem);
            }
        }
    }
}

